* {
    box-sizing: border-box;
    cursor: crosshair;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select:   none; /* Safari */
    -khtml-user-select:    none; /* Konqueror HTML */
    -moz-user-select:      none; /* Firefox */
    -ms-user-select:       none; /* Internet Explorer/Edge */
    user-select:           none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body, html {
    color: rgb(19, 221, 19);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.backgroundIMGZoomed {
    transform: scale(3);
    transition: 3s;
}

.backgroundIMG {
    transform: scale(1);
    transition: 3s;
}

.backgroundIMGZoomed, .backgroundIMG {
    background-attachment: fixed;
    background-image: url(../images/bg2Plane.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;  
}

.showStartGame {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
}

.hideStartGame {
    display: none;
}

.showGameTitle, .fadeGameTitle {
    bottom: 60px;
    font-size: 64pt;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.fadeGameTitle {
    color: black;
    transition-duration: 4s;
    transition-property: color;
}

.showStartBtn, .hideStartBtn { 
    border-radius: 15px;
    font-size: 16pt;
    margin: 0 auto;
    padding: 5px 5px 10px 5px;
    width: 280px;
}

.showStartBtn {
    border: 3px solid rgb(19, 221, 19);
}

.hideStartBtn {
    border: 3px solid black;
    color: black;
    transition-duration: 2s;
    transition-property: color, border;
}

.showInstructions, .hideInstructions, .fadeInstructions {
    bottom: 45px;
    font-size: 16pt;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.showInstructions {
    transition-duration: 3s;
    transition-property: color;
}

.hideInstructions, .fadeInstructions {
    color: black;
}

.hideInstructions {
    visibility: hidden;
}

.fadeInstructions {
    transition-duration: 4s;
    transition-property: color;
}

.hideCategoryStats {
    display: none;
}

.fadeCategoryStats, .showCategoryStats {
    font-size: 14pt;
    position: fixed;
    text-align: center;
    top: 35%;
    width: 100%;
}

.fadeCategoryStats {
    color: black;
}

.showCategoryStats {
    transition-duration: 3s;
    transition-property: color;
}

#guessesRemaining {
    position: absolute;
    left: 2%;
    transition-duration: 1s;
    transition-property: color;
}

.incorrect {
    color: red;
    transition-duration: 1s;
    transition-property: color;
}

#categoryBox {
    border: 2px solid rgb(19, 221, 19);
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px 25px 10px 25px;
}

#categoryLabel {
    position: relative;
    right: 10px;  
}

#categoryText {
    position: relative;
    left: 10px;
}

#winsScore {
    position: absolute;
    right: 2%;
    transition-duration: 3s;
    transition-property: color;
}

.loss {
    color: red;
    transition-duration: 3s;
    transition-property: color;
}

.hidePhrase {
    display: none;
}

.fadePhrase, .showPhrase {
    font-family: monospace;
    font-size: 42pt;
    font-weight: 100;
    letter-spacing: 10px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 100%;
}

.fadePhrase {
    color: black;
}

.showPhrase {
    transition-duration: 3s;
    transition-property: color;
}

.hideLettersContainer {
    position: fixed;
    bottom: -360px;
    margin: 0 auto;
}

.lettersContainer {
    position: fixed;
    bottom: 5px;
    margin: 0 auto;
    transition-duration: 1.5s;
    transition-property: all;
}

.lettersGrid {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    width: 320px;
}

.letter {
    border: 2px solid rgb(19, 221, 19);
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter-selected-wrong {
    border: 2px solid rgba(255, 0, 0, 0.5);
    color: #333333;
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter-selected-correct {
    border: 2px solid rgba(19, 221, 19, 0.5);
    color: #333333;
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter, .letter-selected-correct, .letter-selected-wrong {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 22pt;
    font-weight: 500;
    height: 42px;
    line-height: 1.0;
    margin: 4px 0px 4px 0px;
    padding-top: 3px;
    position: relative;
    right: 10px;
    text-align: center;
    width: 42px;
}

