* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}


.backgroundIMG {
    background-attachment: fixed;
    background-image: url(../images/bg2Plane.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;
    /* animation: zoomin 10s linear; */
  
    transform: scale(3);
    transition: 3s;
    /* overflow-y:hidden; */
}


.backgroundIMG:hover {
    transform: scale(1);
    transition: 3s;
}




#category {
    /* margin: 0 auto; */
    text-align: center;
}


.lettersContainer {
    /* background: red; */
    position: fixed;
    bottom: 5px;
    margin: 0 auto;

}

.lettersGrid {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    /* border: 2px solid black; */
    /* left: 40%; */
    /* bottom: 0; */
    /* position: fixed; */
    /* overflow: auto; */
    padding: 5px 25px 5px 20px;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    margin: 0 auto;
    width: 420px;
    /* width: 100%; */
   
}

.letter {
    border: 3px solid rgb(19, 221, 19);
    color: rgb(19, 221, 19);
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter-selected {
    border: 3px solid #555555;
    color: #333333;
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter, .letter-selected {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 30pt;
    font-weight: 600;
    height: 60px;
    line-height: 1.0;
    margin: 4px 0px 4px 0px;
    padding-top: 5px;
    position: relative;
    right: 10px;
    text-align: center;
    width: 60px;
}

