* {
    box-sizing: border-box;
}

body, html {
    color: rgb(19, 221, 19);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-timing-function: ease;
}

.backgroundIMGZoomed {
    transform: scale(3);
    transition: 3s;
}

.backgroundIMG {
    transform: scale(1);
    transition: 3s;
}

.backgroundIMGZoomed, .backgroundIMG {
    background-attachment: fixed;
    background-image: url(../images/bg2Plane.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: auto;  
}

.showStartGame {
    position: fixed;
    text-align: center;
    top: 40%;
    width: 100%;
}

.hideStartGame {
    display: none;
}

.showGameTitle, .fadeGameTitle {
    bottom: 60px;
    font-size: 64pt;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.fadeGameTitle {
    color: black;
    transition-duration: 4s;
    transition-property: color;
}

.showStartBtn, .hideStartBtn { 
    border-radius: 15px;
    font-size: 16pt;
    margin: 0 auto;
    padding: 5px 5px 10px 5px;
    width: 280px;
}

.showStartBtn {
    border: 3px solid rgb(19, 221, 19);
}

.hideStartBtn {
    border: 3px solid black;
    color: black;
    transition-duration: 2s;
    transition-property: color, border;
}

.showInstructions, .hideInstructions, .fadeInstructions {
    bottom: 45px;
    font-size: 16pt;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.showInstructions {
    transition-duration: 3s;
    transition-property: color;
}

.hideInstructions, .fadeInstructions {
    color: black;
}

.hideInstructions {
    visibility: hidden;
}

.fadeInstructions {
    transition-duration: 4s;
    transition-property: color;
}

.hideCategory {
    display: none;
}

.fadeCategory, .showCategory {
    font-size: 18pt;
    position: fixed;
    text-align: center;
    top: 35%;
    width: 100%;
}

.fadeCategory {
    color: black;
}

.showCategory {
    transition-duration: 3s;
    transition-property: color;
}

#categoryLabel {
    position: relative;
    right: 10px;  
}

#categoryText {

    position: relative;
    left: 10px;
}

.hidePhrase {
    display: none;
}

.fadePhrase, .showPhrase {
    font-family: monospace;
    font-size: 42pt;
    font-weight: 100;
    letter-spacing: 10px;
    position: fixed;
    text-align: center;
    top: 45%;
    width: 100%;
}

.fadePhrase {
    color: black;
}

.showPhrase {
    transition-duration: 3s;
    transition-property: color;
}

.hideLettersContainer {
    position: fixed;
    bottom: -360px;
    margin: 0 auto;
}

.lettersContainer {
    position: fixed;
    bottom: 5px;
    margin: 0 auto;
    transition-duration: 1.5s;
    transition-property: all;
}

.lettersGrid {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px 25px 5px 20px;
    margin: 0 auto;
    width: 360px;
}

.letter {
    border: 2px solid rgb(19, 221, 19);
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter-selected {
    border: 2px solid #555555;
    color: #333333;
    transition-duration: 1.25s;
    transition-property: color, border;
}

.letter, .letter-selected {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 25pt;
    font-weight: 500;
    height: 50px;
    line-height: 1.0;
    margin: 4px 0px 4px 0px;
    padding-top: 5px;
    position: relative;
    right: 10px;
    text-align: center;
    width: 50px;
}

